{% extends "base1.html" %}
{% block content %}
    <!-- <h1> Welcome</h1>

   
    {% for p in poll %}
        

        <div class="card">
           <span>{{p.title}}</span>
           
          
           {% for key,value in votes.items %}
                {% if key == p.id %}
                 <span>Total votes: {{ value }}</span>
                {% endif %}
            {% endfor %}
           
           <a href="/polls/vote/{{p.id}}/"> Vote </a><a href="/polls/details/{{p.id}}/"> Report </a><br>
           
        
        </div>
       
    {% endfor %}
     -->

<br>
<br>
<br>
<br>


    <div class="container pollcard">

		<div class="row ">
            {% for p in poll %}
                <div class="col-sm-3    ">
                        <div class="w3-card-4 cardview">

                            <div class="w3-container w3-center">
                                <h2>{{p.title}}</h2>
                                {% for key,value in votes.items %}
                                    {% if key == p.id %}
                                    <span class="w3-circle" >
                                        <h1 class="votes">{{ value }}</h1>
                                        <em>Votes</em>
                                    </span>  
                                    {% endif %}
                                {% endfor %}
                            </div>
                            
                                <div class="w3-section but">
                                   

                                    <button class="w3-button w3-green share" onclick="location.href='https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/polls/vote/{{id}}'">Share</button>
                                    {% if request.user.id %}
                                        <button class="w3-button  w3-red report" onclick="location.href='/polls/details/{{p.id}}/'">Report</button>
                                    {% else %}
                                        <button class="w3-button  w3-red report" onclick="location.href='/polls/vote/{{p.id}}/'">Vote</button>
                                    {% endif %}
                                </div>
                           
                                
                        </div> 
                
                </div>
            {% endfor %}
			
		</div>
    </div>

    <!-- <svg class="pie-chart"></svg>


    <div id="chart"></div> -->



    <!-- <h3> Create Poll</h3>

    <form method="Post" action="/polls/index/">{% csrf_token%}
        <div class="form-group">
           
            <input type="text" name="title" placeholder="title" class="polltitle"><br>
          </div>
        
        <textarea name="option" placeholder="option" class="option"></textarea><br>
        <em>enter options seperated by comma</em><br>
        <input type="submit" value="Post" class="bt">       
    </form> -->
 
{% endblock %}
{% block javascript %}
    <!-- <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script>
        var traildata = {{ charttrail|safe }};
        var label = {{ label|safe }};
        var chart = c3.generate({
            bindto: '#chart',
            data: {
                x : 'x',
                columns: [
                    label,
                    traildata
                ],
                type: 'bar'
            },
            axis: {
                x: {
                    type: 'category',
                    
                }
            }
            
        });

    </script> -->
{% endblock %}


