{% extends "base1.html" %}
{% block content %}
<div class="vot">
    <h1> Welcome Vote</h1><br>
    <h1>{{title}}</h1>
    <h3>{{alert}}</h3>
   
    

        <div class="card1">
            <!-- <p> {{c.option }}</p> -->
            <form method="Post" action="/polls/vote/{{ id }}/">{% csrf_token%}
                <input type="email" name="votermail" placeholder="Email"><br>
                {% for c in choice %}
                    <input type="radio" name="option" value="{{c.id}}">{{c.option }}<br>
                {% endfor %}
                <input type="submit" value="Vote" class="bt">       
            </form>
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000/polls/vote/{{id}}">
                Share
                </a>
            
        </div>
  </div>  
  

{% endblock %}


